.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.2s ease-in-out;
  padding: 0.875rem 1.5rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.15;
  text-align: center;
  text-decoration: none;
  background: none;
  color: #f2f3f1;
  border: 1px solid #ffffff;
  border-radius: 1rem;
  overflow: hidden;
  /* transition: all 0.65s cubic-bezier(0.72, 0, 0.28, 1); */
}

.btn:hover {
  color: #030303;
  border-color: transparent;
}

.btn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + 1px);
  height: 100%;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  background-color: #fff;
  transition: transform 0.3s cubic-bezier(0.28, 0.44, 0.49, 1);
  transition: transform 0.3s cubic-bezier(0.28, 0.44, 0.49, 1),
    -webkit-transform 0.3s cubic-bezier(0.28, 0.44, 0.49, 1);
  z-index: -1;
}

.btn:hover:before {
  transform: translateZ(0);
}