html {
  font-size: 100%;
}

body {
  background: #030303 url(../images/bg_dots.png) center top;
  font-family: "Graphik", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1;
  margin: 0;
}

button {
  font-family: "Graphik", Helvetica, Arial, sans-serif;
}
