html {
  font-size: 100%;
}

body {
  background: #030303 url(../images/bg_dots.png) center top;
  font-family: "Graphik", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1;
  margin: 0;
  color: #f2f3f1;
  font-style: normal;
  font-weight: 400;
}

button {
  font-family: "Graphik", Helvetica, Arial, sans-serif;
}

.currentPage::after {
  transform: translateX(0%) !important;
}

