.header1 {
  font-size: 4rem;
  line-height: 1.09375;
  letter-spacing: -0.02em;
}

.header2 {
  font-size: 3rem;
  line-height: 1.15;
  letter-spacing: -0.02em;
}

.header3 {
  font-size: 2.25rem;
  line-height: 1.15;
}

.paragraph {
  font-size: 1.5rem;
  line-height: 1.15;
}

.overline {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
